<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Inicio Sesion Platzi Video</title>
</head>
<body class="body">
    <header class="header">
        <img src="../assets/img/logo-platzi-video-BW2.png" alt="Logo Platzi" class="header__img">
    </header>

    <main class="form">
        <section class="form__container">
            <h2>Inicio Sesión</h2>
            <form class="form__container--form" action="">
                <input type="email" name="" id="" class="input" placeholder="Correo">
                <input type="password" name="" id="" class="input" placeholder="Contraseña">
                <input type="submit"class="button" value="Iniciar Sesion">
                <div class="form__container--remember-me">
                    <label for="recuerdame">
                        <span>Recuerdame</span>
                        <input type="checkbox" name="" id="recuerdame" value="checkbox">
                    </label>
                    <a href="#">Olvide mi contraseña</a>
                </div>
            </form>

            <section class="form__container--social-media">
                <div>
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="">
                    Iniciar Sesion con Google
                </div>
                <div>
                    <img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt="">
                    Iniciar Sesion con Twitter
                </div>
            </section>
            <p class="form__container--registro">¿No tienes ninguna cuenta? <a href="#">Registrate</a></p>
        </section>
    </main>

    <footer class="footer">
        <a href="#">Términos de uso</a>
        <a href="#">Declaración de privacidad</a>
        <a href="#">Centro de ayuda</a>
    </footer>
</body>
</html>